/* client/src/styles/pages/Home.css */
.home-page {
    padding: 2rem;
  }
  
  .home h1 {
    color: #bb86fc;
  }
  
  .audiobook-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  